# Java and IDE-related
*.class
*.iml
*.jar
*.jsp
*.BACKUP.*.jsp
*.BASE.*.jsp
*.LOCAL.*.jsp
*.REMOTE.*.jsp
*.log
*.properties
*.script
*.lck
**/.DS_Store

# Maven artifacts
target/
**/target/
pom.xml.versionsBackup

# Eclipse specific
.classpath
.project
.settings/
.externalToolBuilders/
**/.factorypath

# IntelliJ IDEA specific
.idea/
**/.idea/

# VS Code specific
**/.vscode/

# Spring Tool Suite
**/.sts4-cache/

# Sonatype
.sonatype

# Build outputs
classes/
bin/
**/bin/

# Node and JS
*.js.map
node_modules/  # Added to ignore all node modules

# Database files
*.mv.db

# Specific project paths
src/main/webapp/plugin_extracted/*
src/main/webapp/users/*.jar
src/main/webapp/plugin_lessons/*.jar
src/main/webapp/users/*.props
webgoat-container/src/main/webapp/users/guest.org.owasp.webgoat.plugin.*.props
webgoat-container/src/main/webapp/plugin_lessons/dist-*.pom
webgoat-lessons/**/target
webgoat-lessons/vulnerable-components/dependency-reduced-pom.xml
webgoat-server/mongo-data/*
mongo-data/*
.extract/*

# Ignore all nested project files (optional, remove if specific projects need tracking)
/**/project/